:root {
    --offwhite: rgb(239, 239, 239);
}

* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

h2 {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
}


/* made up of furniture card & details card */

.item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.detailsCard {
    border: 1px solid black;
}

.card {
    width: 150px;
    height: 150px;
}

.r {
    width: 50px;
    height: 50px;
    min-width: 20px;
    min-height: 20px;
}

.r,
.card {
    padding: 0.5em;
}

span {
    font-size: 1em;
}

footer {
    background-color: var(--offwhite);
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 20px 0;
}